# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Firebase
.firebase
.firebaserc
firebase.json

# Pocketbase
pocketbase/pb_data
pocketbase/pb_public
pocketbase/pb_hooks/env.json
pocketbase/pocketbase
pocketbase/CHANGELOG.md
pocketbase/LICENSE.md